   a {
    text-decoration: none;
    
  } 

  .containerNavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color:#FFFAFA ;
    align-items: center;
    padding: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }

    .categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .categories li {
    padding: 5px 10px;
    font-size: 1rem;
    color: #D81B60;
    width: auto;
    display: flex;
    justify-content: center;
  
  }
  
  .cartWidget{
    color:#1ABC9C ;
  }