
h4 {
    margin-left: "15px";
}

h2#swal2-title{
    font-size: 15px;
}


button.swal2-confirm.swal2-styled{
    background-color:#6C3483;
    
}

button.swal2-deny.swal2-styled{
    background-color: #D81B60;
}